node_modules/
#.env
package-lock.json
.vscode/
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/uSoftware-bayern-back.iml
/.idea/vcs.xml
/.idea/workspace.xml